<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">{% csrf_token %}
        <label>Ingresa el título del libro:</label>
        <input type="text" name="nombre">
        <label>Selecciona el autor:</label>
        <select name="autor" required>
        </select>
        <input type="submit" value="Registrar">
    </form>
    <table>
        <thead>
            <tr>
                <td>Titulo</td>
                <td>Autor</td>
            </tr>
        </thead>
        <tbody>
    </tbody>
    </table>
</body>
</html>